@import url('https://fonts.googleapis.com/css?family=Domine|Nunito|Unica+One|Jura');

:root {
  --fire-bg: radial-gradient(#fff05d, #ff5d46);
  --water-bg: radial-gradient(#00b8e9, #0800bf);
  --earth-bg: radial-gradient(#52e900, #007805);
  --air-bg: radial-gradient(#ff78dc, #98009c);
  --space-bg: radial-gradient(#6B5A79, #24192D)
}

body {
  font-family: 'Nunito';
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--fire-bg) no-repeat center center fixed;
  /*background: radial-gradient(#fff05d, #ff5d46) center center cover no-repeat fixed;*/
  /*background: radial-gradient(#fff05d, #ff5d46) no-repeat center center fixed;*/
  /*background: url('img/fire-background.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: 1s;
  font-family: 'Jura';
}

.navigation-bar {
  width: 100%;
  padding: 20px 0px 0px 0px;
}

#marissa {
  position: relative;
  padding-left: 20px;
  float: left;
  width: 100%;
  letter-spacing: 5px;
}

#hp-title {
  position: relative;
  padding-left: 23px;
  top: -10px;
  font-family: 'Jura';
  width: 100%;
  font-size: 20px;
}

.title-cont {
  width: 77%;
  position: relative;
  float: left;
}

.social-handles {
  position: relative;
  float: left;
  width: 20%;
  font-family: 'Jura';
}

.social-list a {
  color: white;
  text-decoration: none;
}

.social-list a:hover {
  cursor: pointer;
}

@media (max-width: 1200px) and (min-width: 801px) {
  .title-cont {
    width: 72%;
  }

  .social-handles {
    width: 25%;
  }
}

.social-list a li {
  font-size: 16px;
  list-style-type: none;
}

.handle {
  padding: 6px;
  width: 35px;
}

#menu-container {
  width: 10%;
  position: relative;
  float: left;
  display: none;
  top: 10px;
}

#menu {
  display: none;
  z-index: 50;
  cursor: pointer;
}


@media (max-width: 800px) and (min-width: 300px) {
  #menu {
    display: block;
    position: relative;
    float: right;
    padding-right: 20px;
    width: 50px;
    top: 10px;
  }

  #menu-container {
    display: block;
  }

  .title-cont {
    width: 82%;
  }

  #marissa {
    width: 90%;
  }

  .social-handles {
    display: none;
  }

  #nav-list-container-bottom {
    display: none;
  }
}

#nav-list-container {
  position: relative;
  float: right;
  padding-right: 10px;
  transition: 0.5s opacity ease, left ease;
  left: 110px;
  display: none;
  z-index: 150;
  opacity: 0;
}

.nav-list {
  position: relative;
  margin: auto;
  z-index: 100;
}

.nav-list-li {
  list-style-type: none;
  padding: 6px 0px 0px 6px;
}

.navigation-link {
  padding: 4px;
  font-weight: 100;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
}

.navigation-link:hover {
  text-decoration: overline;
}

@media (max-width: 649px) and (min-width: 250px) {
  #nav-list-container {
    left: 110px;
  }
  .navigation-link {
    font-size: 16px;
  }
}

#midpage-content {
  position: relative;
  top: 15px;
}

#temp {
  opacity: 0;
}

.info-left {
  position: relative;
  width: 25%;
  float: left;
  padding-left: 40px;
  z-index: 100;
  transition: 0.5s;
}

#midpage-internal {
  position: relative;
  width: 50%;
  text-align: center;
  display: block;
  float: left;
  margin: auto;
  left: 0px;
  height: 600px;
  top: -30px;
}

.info-right {
  position: relative;
  float: left;
  font-family: 'Jura';
}

@media (max-width: 800px) and (min-width: 300px) {
  body {
    overflow-y: scroll;
  }

  .info-left {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
  }

  #midpage-internal {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    top: 0px;
    height: 400px;
  }

  .info-right {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
  .current-title {
    width: 100%;
  }
  #gets-details p {
    width: 100%;
  }
}

#gets-title {
  font-family: 'Jura';
}

#gets-details {
  font-family: 'Jura';
}

.circle-container {
	position: relative;
	width: 30em;
	height: 30em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: dashed 2px;
	border-radius: 50%;
	margin: 1.75em auto 0;
  transition: 0.5s;
  transform: scale(0.9);
}

.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%;
  left: 50%;
	width: 6em;
  height: 6em;
	margin: -3em; /* 2em = 4em/2 */ /* half the width */
  background: white;
  color: black;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px white;
}

.circle-container a:hover {
  cursor: pointer;
}

.circle-container a:hover .outer-element {
  transform: scale(1.125);
}

@media (max-width: 850px) and (min-width: 600px) {
  .circle-container {
    transform: scale(0.7);
  }
}

@media (max-width: 599px) and (min-width: 300px) {
  .circle-container {
    transform: scale(0.5);
  }
}

.center-ele {
  position: relative;
  top: 110px;
  display: block;
  width: 50%;
  margin: 0 auto;
  transition: 0.5s;
}

.outer-element {
  padding-top: 15px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.el1 { transform: rotate(45deg) translate(15em) rotate(-45deg); } /* 15em = half the width of the wrapper */
.el2 { transform: rotate(135deg) translate(15em) rotate(-135deg); }
.el3 { transform: rotate(225deg) translate(15em) rotate(-225deg); }
.el4 { transform: rotate(315deg) translate(15em) rotate(-315deg); }

.outer-element {
  padding-top: 15px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

#nav-list-container-bottom {
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 100%;
  bottom: 0px;
  padding-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) and (min-width: 300px) {
  #nav-list-container-bottom {
    display: none;
  }
}

.nav-list-btm {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
}

.nav-list-li-btm {
  display: inline-block;
  list-style-type: none;
  padding: 6px 0px 0px 6px;
}

#modal {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 600px;
  background: white;
  color: #535353;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px;
}

#close {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 200;
}

@keyframes beseen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* my work */
.my-work-c-title {
  width: 100%;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  padding-left: 6px;
}

.my-work-c-para {
  width: 450px;;
  position: relative;
  transition: opacity 0.25s;
  display: none;
  opacity: 0;
  padding-left: 10px;
}

.my-work-c-div {
  height: 40px;
  transition: height 0.5s;
  border-radius: 6px;
  cursor: pointer;
}

.my-work-c-title:hover {
  transition: 0.25s;
  background: rgba(250, 250, 250, 0.5);
}

/* contact */
.contact-input {
  background: white;
  border-radius: 6px;
  border: none;
  padding: 6px;
  width: 70%;
}

.contact-li {
  padding: 8px;
  list-style-type: none;
  left: -45px;
  position: relative;
}

@keyframes expand {
  from {
    opacity: 0;
    display: 'none';
    height: '0%';
  }

  to {
    height: '100%';
    display: 'block';
    opacity: 1;
  }
}

.expand {
  animation: expand 1s ease 0s 1 normal forwards;
}

.condense {
  animation: expand 1s ease 0s 1 reverse forwards;
}
